ul li {
    list-style-type: disc; // tròn đậm
}
ol li {
    list-style-type: decimal-leading-zero; /01 02

}
ul li.php02{
    list-style-image: url('1.jpg');
}
a:link{
    color: green;
c    text-decoration: none;
}
a:visited{
    color: yellow;


}
a:hover{
    color: red; 
}