
    table{
        width: 100%;
    }
    td{
        border: 1px solid rosybrown;
    
    }
    .table-1{
        height: 40px;
        line-height:40px;
    }
    .table-1 :first-child{
        width: 70%;
    }
    .table-1 :last-child{
        text-align: center;
    }
    .table-2{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-3{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-4{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-4 :first-child{
        width: 66.75%;
    }
    .table-5{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-6{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    

@media screen and (max-width:1024px){

table{
    width: 100%;
}
td{
    border: 1px solid rosybrown;

}
.table-1{
    height: 40px;
    line-height:40px;
}
.table-1 :first-child{
    width: 30%;
}
.table-1 :last-child{
    text-align: center;
}
.table-2{
    height: 40px;
    line-height:40px;
    text-align: center;
}
.table-3{
    height: 40px;
    line-height:40px;
    text-align: center;
}
.table-4{
    height: 40px;
    line-height:40px;
    text-align: center;
}
.table-4 :first-child{
    width: 66.75%;
}
.table-5{
    height: 40px;
    line-height:40px;
    text-align: center;
}
.table-6{
    height: 40px;
    line-height:40px;
    text-align: center;
}
}
@media screen and (max-width:768px){

    table{
        width: 100%;
    
    }
    td{
        border: 1px solid rosybrown;
    
    }
    .table-1{
        height: 40px;
        line-height:40px;
    }
    .table-1  :first-child {
        width: 50%;
    }
    .table-1 :last-child{
        text-align: center;
    }
    .table-2{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-3{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-4{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-4 :first-child{
        width: 66.75%;
    }
    .table-5{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .table-6{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
}
@media screen and (max-width:480px){
    table{
        width: 100%;
    
    }
    td{
        border: 1px solid rosybrown;
    
    }
    
}