*{

    padding: 0;
    margin: 0;
}
#big-class0{
	margin: 5px 5px 0 5px;
	background: url(bg.png) repeat;
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 3px 4px 3px grey;
}
.head p{
    font-weight: bold;
	padding: 10px 0 10px 5px;
	font-size: 125%;
}
.head{
    padding-top: 10px;
	background-color: #9fc4f8;
	padding-bottom: 10px;
    
}
.big-class{
    margin-top: 10px;
	text-align: center;
	display: flex;
}
.Header{
    background: #D0E1FB;
	height: 60px;
	line-height: 60px;
	width: 15%;
	float: left;
	margin-left: 5px;;
}
.Grobalnow{
    background: #D0E1FB;
    margin: auto;
    height: 60px;
	float: left;
	line-height: 60px;
	width: 65%;
}
.Tools{
    background: #D0E1FB;
	height: 60px;
	float: right;
	line-height: 60px;
	width: 15%;
	margin-right: 5px;

}

.hero p{
    font-weight: bold;
    text-indent: 10px;
}
.hero{
    background: #B6C5DB;
    padding-top: 10px;
	margin-top: 20px;
	width: 65%;
}
.big-class1{
    margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.Feature{
    background: #D0E1FB;    
    height: 60px;
	line-height: 60px;
	width: 60%;
	float: left;
	margin-left: 5px;
}
.action{
    background: #D0E1FB;    
    height: 60px;
	line-height: 60px;
	width: 35%;
	float: right;
	margin-left: 5px;
	margin-right: 5px
}
.none{
	clear: both;
}
.ad{
    background: #6697C8;    
    position: absolute;
	right: 5px;
	top:150px;
	width: 33%;
    height: 110px;
    line-height: 90px;
    margin-top: 18px;

}
.Body{
    background: #B6C5DB;
    padding-top: 10px;
	margin-top: 20px;
	width: 65%;
	float: left;
}
.Body p{
    font-weight: bold;
    text-indent: 10px;
}

.big-class2 {
    margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
    

}
.Article{
    background: #D0E1FB;    
    height: 160px;
	line-height: 160px;
	width: 35%;
	float: left;
	margin-left: 5px;
}
.Listing{
    background: #D0E1FB;    
    height: 160px;
	line-height: 160px;
	width: 60%;
	float: right;
	margin-left: 5px;
	margin-right: 5px; 
}
.Slide{
    background: #B6C5DB;
    padding-top: 10px;
	margin-top: 20px;
	background-color: #9fc4f8;
	width: 33%;
	float: right;
	padding-bottom: 10px;

}
.Slide p{
    font-weight: bold;
    text-indent: 10px;
}
.Slide{
    background: #B6C5DB;    
    padding-top: 10px;
	margin-top: 20px;
	width: 33%;
	float: right;
	padding-bottom: 10px; 
}
.SliderBar{
    background: #D0E1FB;
    margin-top: 10px;
	height: 170px;
	line-height: 160px;
	width: 95%;
	text-align: center;
	margin: auto 


}
.footer{
	background-color: #9fc4f8;
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
}
@media screen and (max-width:768px){
.hero,.Body, .Slide,.Listing{
    width: 99%;
}
.Listing{
    margin-top: 10px;
    margin-right: 2px;
}
.Feature{
    width: 99%;
}
.action{
    width: 99%;
    margin-top: 5px;
    margin-right: 2px;
}
.Article{
    width: 70%;
	height: 90px;
    line-height: 90px;
    
}
.ad{
    position: static;
    width: 25%;
    height: 90px;
    margin-top: 0px;
    float: right;
}
.Slide{
    height:90px;
    margin-right: 7px;
    
}
.SliderBar{
    height: 60px;
    line-height: 60px;
}
}
@media screen and (max-width:480px){
.hero,.Body, .Slide,.Listing,.action{
        width: 99%;
}
.Header{
    width: 99%;
}
.Grobalnow,.Tools{
    height: 30px;
    line-height: 30px;
    width: 49%;
    margin:10px;
}
}