* {margin: 0; padding: 0;}
@font-face {
  font-family: myFirstFont;
  src: url(Roboto/Roboto-BlackItalic.ttf);
}
.big-class{
  background: black;  
 text-align: center;
}

#main{
  width: 1440px;	
  background: white;
}
.logo {
  margin-bottom: -45px;  
  background: black;  
 
}
.vn{
    margin-top: -197px ;
    height: 594px;
    margin-left: 80px;
    margin-bottom: 20px;
    line-height: 594

}


.form{
  width: 1024px;
  height: 150px;
  margin: auto;
  margin-bottom: 45px;
}

 
.settingimg {

  border: 1px solid black;
  width: 160px;
  text-align: center;
  height: 150px;
  float: left;
  margin-left: 53px;
  margin-right: 40px;
 
 
} 
.settingimg img img {
  margin-top: 10px;
}

#settingimg p{
  margin-top: 10px;
} 
.cr img{
  margin-top: 20px;
  margin-left: 215px;
  height: 300px;
  width: 300px;
}


.photobanner {
  margin-top: -220px;
	height: 333px;
	width: 3550px;
  margin-bottom: 80px;
    }    
    
}
.menu ul{
    list-style-type: none;
    height: 50px;
    margin-top: -10px;
    text-align: center;
    background: black;   
} 
.menu ul li{
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height:40px;
    text-decoration: navajowhite;
    position: relative;
    text-align: center;
}
.menu ul li a{
    color: aliceblue;
    display: block;
    text-decoration: none;
    
}
.menu ul li a:hover{
    background: rgb(88, 97, 104)	;
    /* text-decoration: none; */
    /* display: block; */
    color: white;
  
} 
.menu ul li > .sub-menu{
  display: none; 
  background: black;
  color: white;
  width: 120px;
  position: absolute;
  text-align: center;
}
.menu ul li:hover .sub-menu{
  position: absolute;
  display: block;
  background:  rgb(88, 97, 104)	;
  
}
.menu ul li ul li a {
  background:  rgb(88, 97, 104)	;
}
#container {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
  background: white;
}
#a{
  background: gray;
  width: auto;
  height: 45px;
  line-height: 45px;
  margin: auto;
  margin-bottom: 45px;
  text-indent: 215px;
}

#a a{
  color: white;
  text-decoration: none;
}
#a a:hover{
  color: red;
}
.form1{
  width: 1024px;
  height: 295px;
  margin-left: 220px;
  margin-bottom: 5px;
  float: left;
}
.form2{
  width: 1024px;
  height: 350px;
  margin-left: 220px;
  margin-bottom: 5px;
  float: left;
}
.settingimg1 {
  margin-left: -46px;
  margin-right: 46px; 
  width: 350px;
  float: left;
  margin-right: 37px;
  height: 200px;
  position: relative;
} 
.settingimg2{
  position: relative;
}
.settingimg2 h3{
  position: absolute;
  left:150px;
  color: #A0522D;
  left: 265px;
}
.settingimg3{
  position: relative;
}
.settingimg3 h3{
  position: absolute;
  color: #A0522D;
  top: -2px;
  left: 765px;
}
.settingimg1 h3{
  position: absolute;
  color: #A0522D  ;

  left: 135px;
}

.settingimg1 img{
  
  width: 330px;
  float: left;
  margin-left: 50px;
  height: 280px;
}
.settingimg2{
  float: left;
  margin-right: 10px;
}
.settingimg2 img{
  width: 580px;
  float: left;
  height: 280px;

}
.settingimg2 {
  float: left;
}
.settingimg3 img{
  width: 425px;
  height: 280px;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@media screen and width