* {margin: 0; padding: 0;}
.big-class{
  background: black;  
 text-align: center;
}

#main{
  width: 1440px;	
  background: white;
}
.logo {
  margin-bottom: -45px;  
  background: black;  
 
}
.vn{
    margin-top: -197px ;
    height: 594px;
    margin-left: 80px;
    margin-bottom: 20px;
    line-height: 594

}


.row{
    margin-top: 10px;
    border: 1px solid black;
    background: white; 
} 

 
#settingimg img{
  margin-left: 7px;
  margin-top: 2px;
 
} 
#settingimg p{
  margin-top: 10px;
} 

.photobanner {
  margin-top: -220px;
	height: 333px;
	width: 3550px;
  margin-bottom: 80px;
    }    
    
}
.menu ul{
    list-style-type: none;
    height: 50px;
    margin-top: -10px;
    text-align: center;
    background: black;   
} 
.menu ul li{
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height:40px;
    text-decoration: navajowhite;
    position: relative;
    text-align: center;
}
.menu ul li a{
    color: aliceblue;
    display: block;
    text-decoration: none;
    
}
.menu ul li a:hover{
    background: rgb(88, 97, 104)	;
    /* text-decoration: none; */
    /* display: block; */
    color: white;
  
} 
.menu ul li > .sub-menu{
  display: none; 
  background: black;
  color: white;
  width: 120px;
  position: absolute;
  text-align: center;
}
.menu ul li:hover .sub-menu{
  position: absolute;
  display: block;
  background:  rgb(88, 97, 104)	;
  
}
.menu ul li ul li a {
  background:  rgb(88, 97, 104)	;
}
#container {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
  background: white;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}